*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.validate-form{
  margin: 40% auto;
  background-color: aqua;
  height: 350px;
  width: 300px;
  text-align: center;
  padding: 25px;
  border-radius: 15px;
  font-family:monospace;
 
}
.input-name{
  border: 1px solid rgb(0, 99, 247);
  outline: none;
  position: relative;
  top:25px;
  width: 250px;
  height: 25px;
  
}
.input-pass{
  outline: none;
  border: 1px solid rgb(0, 99, 247);
  position: relative;
  top:15px;
  width: 250px;
  height: 25px;
}
button{
  border: 1px solid rgb(0, 31, 41);
  position: relative;
  top:15px;
  text-align: center;
  background: white;
  padding: 3px;
  border-radius: 3px;
  font-family:monospace;
}
.para{
  color: red;
padding-top: 25px;
text-align:25px;
font-style: normal;
font-size: 14px;
font-family:monospace;
}
.para1{
  color: red;
padding-top: 20px;
text-align:15px;
font-style: normal;
font-size: 14px;
font-family:monospace;
}